In [42]:
import pandas as pd
import numpy as np
from sklearn import linear_model
%matplotlib inline
import matplotlib.pyplot as plt

In [70]:
df=pd.read_csv("stockdata.csv")

In [71]:
df.head()

       Date      Open       High       Low     Close     Volume
0  14-Aug-23  3,645.10  3,747.45  3,601.75  3,730.55  1,295,993
1  11-Aug-23  3,732.95  3,742.80  3,671.05  3,679.15    339,619
2  10-Aug-23  3,743.80  3,775.55  3,725.15  3,745.50    600,325
3   9-Aug-23  3,860.00  3,860.00  3,715.00  3,737.70    749,561
4   8-Aug-23  3,925.05  3,934.70  3,834.05  3,846.40    532,706

In [72]:
df.columns = df.columns.str.strip()

In [73]:
numeric_columns = ['Open', 'High', 'Low', 'Close', 'Volume']
for col in numeric_columns:
    df[col] = df[col].str.replace(',', '').astype(float)

In [74]:
df

         Date     Open     High      Low    Close     Volume
0   14-Aug-23  3645.10  3747.45  3601.75  3730.55  1295993.0
1   11-Aug-23  3732.95  3742.80  3671.05  3679.15   339619.0
2   10-Aug-23  3743.80  3775.55  3725.15  3745.50   600325.0
3    9-Aug-23  3860.00  3860.00  3715.00  3737.70   749561.0
4    8-Aug-23  3925.05  3934.70  3834.05  3846.40   532706.0
5    7-Aug-23  3762.90  3920.00  3760.00  3910.55  1124433.0
6    4-Aug-23  3726.30  3759.95  3723.00  3745.40   280240.0
7    3-Aug-23  3700.00  3764.80  3690.20  3726.30   619764.0
8    2-Aug-23  3630.00  3695.00  3577.05  3690.60   681092.0
9    1-Aug-23  3705.00  3720.60  3625.00  3639.50   369042.0
10  31-Jul-23  3640.00  3748.95  3640.00  3684.30   389638.0
11  28-Jul-23  3769.00  3775.00  3710.00  3739.05   355259.0
12  27-Jul-23  3694.00  3795.90  3685.30  3741.90   875566.0
13  26-Jul-23  3743.00  3743.00  3673.55  3680.45   293630.0
14  25-Jul-23  3695.00  3743.00  3681.10  3719.40   323039.0
15  24-Jul-23  3688.25  3710.00  3656.95  3686.00   304318.0
16  21-Jul-23  3661.00  3747.00  3638.45  3688.30   629513.0
17  20-Jul-23  3650.00  3679.15  3620.05  3666.55   336955.0
18  19-Jul-23  3626.65  3675.00  3625.00  3638.05   328518.0
19  18-Jul-23  3670.00  3683.00  3567.00  3626.65   385790.0
20        NaN      NaN      NaN      NaN      NaN        NaN

In [75]:
reg = linear_model.LinearRegression()

In [80]:
df['Next_Open'] = df['Open'].shift(-1)
df.dropna(inplace=True)

In [81]:
input_column= ['Open', 'Close', 'High', 'Low', 'Next_Open']
output_column= ['High', 'Low', 'Close']

In [82]:
input_data = df[input_column].iloc[:-1]
output_data = df[output_column].iloc[1:]

In [83]:
reg.fit(input_data, output_data)

LinearRegression()

In [84]:
reg.predict([[3670.00,3626.65,3683.00,3567.00,3684.00]])

C:\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[3731.8809832 , 3653.05197657, 3665.56814813]])